.questions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .container {
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 883px;
    background-color: #181818;
    padding: 34px;
    box-sizing: border-box;
  }
}
