.request {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-top: 54px;
  padding-bottom: 102px;
  box-sizing: border-box;

  @media screen and (max-width: 660px) {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 645px;
    background-image: url('../images/req_bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    @media screen and (max-width: 1024px) {
     display: none;
    }

    ol {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      list-style-type: none;
      counter-reset: num;
      margin: 0;
      padding-left: 30%;
      box-sizing: border-box;

      li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__count {
    display: block;
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
    background-color: #E3B873;
    border: 7px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    font-family: $Yeseva;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
  }

  &__descr {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    font-family: $Nunito;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    width: calc(100% - (42px + 14px + 10px));
  }

  &__blank {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    float: left;
    position: relative;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 509px;
    height: 509px;
    padding: 28px 49px;
    box-sizing: border-box;
    margin-top: 91px;
    background: #131313;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    &-title {
      width: 100%;
      margin-top: 0;
      margin-bottom: 39px;
      font-family: $Nunito;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  &__element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0;
    margin-bottom: 48px;

    &:nth-of-type(3), &:nth-of-type(4) {
      margin-bottom: 16px;
    }
  }

  &__label {
    display: block;
    position: relative;
    width: 100%;
    font-family: $Nunito;
    font-weight: 400;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);

    &--checkbox {
      display: block;
      position: relative;
      width: 100%;
      font-family: $Nunito;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      padding-left: 27px;
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #E3B873;
        background-color: transparent;
        transition: all 0.4s;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #E3B873;
        background-color: #E3B873;
        background-image: url('../images/icons/checked_icon.svg');
        background-repeat: no-repeat;
        -webkit-background-size: 13px 9px;
        background-size: 13px 9px;
        background-position: center center;
        opacity: 0;
        transition: all 0.4s;
      }
    }
  }

  &__text {
    padding: 8px 0;
    border: none;
    color: #FFFFFF;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    outline: none;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: white;
    }
  }

  &__checkbox:checked,
  &__checkbox:not(:checked) {
    display: none;
  }

  &__checkbox:checked + .request__label--checkbox:before {
    background-color: #E3B873;
  }

  &__checkbox:checked + .request__label--checkbox:after {
    opacity: 1;
  }

  &__discount {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 509px;
    margin-top: 38px;
    margin-bottom: 142px;

    &-icon {
      display: block;
      position: relative;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: #E3B873;
      box-shadow: 0 10px 20px rgba(237, 192, 120, 0.2);
      background-image: url('../images/icons/bank_icon.svg');
      background-repeat: no-repeat;
      -webkit-background-size: 40px 34px;
      background-size: 40px 34px;
      background-position: center center;
    }

    &-about {
      margin: 0;
      padding-left: 25px;
      box-sizing: border-box;
      font-family: $Nunito;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #E3B873;
    }
  }
}
