html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;

  &:hover, &:focus, &:visited {
    text-decoration: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


@font-face {
  font-family: Nunito Sans;
  src: url('../fonts/NunitoSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Yeseva One;
  src: url('../fonts/YesevaOne-Regular.ttf') format('ttf');
}

$Nunito: 'Nunito Sans', sans-serif;
$Yeseva: 'Yeseva One', cursive;

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1256px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 1256px) {
    width: 1170px;
  }

  @media screen and (max-width: 1170px) {
    width: 968px;
  }

  @media screen and (max-width: 786px) {
    width: 750px;
  }

  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

.button {
  font-family: $Nunito;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E3B873;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  border: 1px solid #E3B873;
  border-radius: 2px;
  cursor: pointer;
  padding: 13px 33px;
  transition: 0.4s all;

  &:hover {
    color: #E3B873;
    background-color: transparent;
    border: 1px solid #E3B873;
    box-shadow: none;
  }
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: $Yeseva;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;

  &--white {
    color: #FFFFFF;
  }
}

.title-icon {
  display: block;
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 32px;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 32px;
    height: 2px;
    top: 16px;
    left: -42px;
    background-color: #E3B873;
  }

  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 32px;
    height: 2px;
    top: 16px;
    right: -42px;
    background-color: #E3B873;
  }
}

.subtitle {
  font-family: $Nunito;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  margin-top: 0;
  margin-bottom: 0;
}

.line {
  display: block;
  position: relative;
  content: '';
  width: 55px;
  height: 2px;
  background-color: #E3B873;
}
/*--Header--*/
@import "header";
/*-- Main banner--*/
@import "main-banner";
/*-- Tabs --*/
@import "tabs";
/*-- Control --*/
@import "control";
/*-- Types --*/
@import "types";
/*-- Request --*/
@import "request";
/*--Examples --*/
@import "examples";
/*-- Clients --*/
@import "clients";
/*-- Footer --*/
@import "footer";
/*-- Footer close --*/
