html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;

  &:hover, &:focus, &:visited {
    text-decoration: none;
  }
}

@font-face {
  font-family: Nunito;
  src: url('../fonts/nunito-sans.regular.ttf') format('ttf');
}

@font-face {
  font-family: Yeseva;
  src: url('../fonts/yeseva-one.regular.ttf') format('ttf');
}

$Nunito: 'Nunito', sans-serif;
$Yeseva: 'Yeseva', sans-serif;
/*--Header--*/
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 22px;
  background-color: #131313;

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  &__logo {
    font-family: $Nunito;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #E3B873;

    &:hover, &:active, &:focus {
      color: #E3B873;
    }
  }
}
